.form_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  justify-content: space-between;
  margin: 0 -30px;
  background-color: white;
  padding: var(--small-gap) var(--big-gap);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  margin-bottom: -30px;
  padding-bottom: 20px;
}

.form_input {
  background-color: white;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  padding: var(--small-gap);
  border: 2px solid #bcbdbe42;
  border-radius: var(--radius);
}

.form_textarea {
  margin-bottom: 25px;
  resize: vertical;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100px;

  outline: none;
  padding: var(--small-gap);
  border: 2px solid #bcbdbe42;
  border-radius: var(--radius);
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loading div {
  margin: var(--small-gap);
}
