.white_btn{
    background-color: white;
    color: black;
    border-radius: 50px;
    font-weight: 700;
}

.yellow_btn{
    background-color: var(--yellow);
    color: black;
    border-radius: 50px;
    font-weight: 700;
}

.blue_big_btn{
    font-size: var(--big-font-size);
    padding: 10px 0!important;
    color: white;
    background-color: var(--blue);
    width: 100%;
    border-radius: var(--radius);
}

.blue{
    color: var(--blue);
}

.grey{
    color: var(--usd-grey);
}

.bold{
    font-weight: 700;
}

.space_between{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small_margin_bottom{
    margin-bottom: var(--small-gap);
}

.medium_margin_bottom{
    margin-bottom: var(--medium-gap);
}